<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>James Chen</string>
	<key>Builder Version</key>
	<string>9537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>Safarikai</string>
	<key>CFBundleIdentifier</key>
	<string>com.ashchan.safarikai</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>safarikai.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Translate Japanese words on web pages. Inspired by rikaichan and rikaikun, with love for Safari.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://ashchan.com/</string>
</dict>
</plist>
