#safarikai-popup {
  position: absolute;
  width: auto;
  min-width: 200px;
  max-width: 80%;
  height: auto;
  min-height: 40px;
  max-height: 80%;
  padding: 10px 12px !important;
  background: #FDFDFD !important;
  border-radius: 6px !important;
  border: solid 1px #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

#safarikai-popup ul {
  text-align: left !important;
  list-style: none !important;
  margin: 0 0 !important;
  padding: 0 0 !important;
}

#safarikai-popup ul li {
  border-bottom: solid 1px #E8E8E8 !important;
  padding-bottom: 6px !important;
  margin-bottom: 4px !important;
  font-family: "Hiragino Kaku Gothic", "ヒラギノ角ゴ Pro W3", sans-serif !important;
}

#safarikai-popup ul li:last-child {
  border: none !important;
  padding-bottom: 0 !important;
}

#safarikai-popup ul li .kana {
  display: inline-block !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 12px !important;
  color: #00f;
}

#safarikai-popup ul li .romaji {
  display: inline-block !important;
  color: #000;
  font-size: 14px !important;
  margin-left: 24px !important;
}

#safarikai-popup ul li .kanji {
  margin-top: -6px !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: #f00;
}

#safarikai-popup ul li .translation {
  font-size: 14px !important;
  color: #555;
  line-height: 1.2em !important;
}
